<header id="header">
  <div id="mobile-menu-close">
      <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <ul id="menu" class="shadow">
      <li>
          <a id="about-button" [scrollTo]="'#about'" [scrollDuration]="500">A propos</a>
      </li>
      <li>
          <a id="experience-button" [scrollTo]="'#experience'" [scrollDuration]="500">Experience</a>
      </li>
      <li>
          <a id="current-projects-button" [scrollTo]="'#current-projects'" [scrollDuration]="500">Mes projets</a>
      </li>
     
      <li>
          <a id="skills-button" [scrollTo]="'#skills'" [scrollDuration]="500">Compétence</a>
      </li>
      <li>
          <a id="contact-button" [scrollTo]="'#contact'" [scrollDuration]="500">Contact</a>
      </li>
  </ul>
</header>
<!-- End header -->