<footer>
  <div class="container">
      <div class="row">
          <div class="col-sm-5 copyright">
              <p>
                  Copyright &copy; 2018 James Watson
              </p>
          </div>
          <div class="col-sm-2 top">
              <span id="to-top" [scrollTo]="'#lead'" [scrollDuration]="500">
                  <i class="fa fa-chevron-up" aria-hidden="true"></i>
              </span>
          </div>
          <div class="col-sm-5 social">
              <ul>
                  <li>
                      <a href="https://github.com/jwatson4115" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>