<div id="lead">
  
  <div id="lead-content">
      <h1>Mohamed Hedi Kriden</h1>
      <h2>Software Developer </h2>
      <a href="/assets/Kriden.pdf" class="btn-rounded-white">Mon CV</a>
  </div>

  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>

  <div id="lead-down" [scrollTo]="'#about'" [scrollDuration]="500" >
    <span>
      <i class="fa fa-chevron-down" aria-hidden="true" id="lead-chevron" ></i>
    </span>
  </div>

</div>


