<div id="about">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h2 class="heading">À propos</h2>
          </div>
          <div class="col-md-8">
              <p>
                Un ingénieur logiciel passionné basé à Tunis .

              </p>
              <p>
                Je travaille actuellement pour Vermeg <a href="https://www.vermeg.com/">Vermeg</a>, VERMEG est un groupe de logiciels international opérant sur plusieurs lignes de services B2B: pensions et assurances, gestion de patrimoine et d'actifs, marchés financiers et de sécurité et services financiers numériques. 
              </p>
          </div>
      </div>
  </div>
</div>