<div class="project-page-header background-alt">
  <h1>Building A Full-Scale Music Streaming Web Application</h1>

  <ul>
    <li>TypeScript</li>
    <li>Angular (2+)</li>
    <li>Redux</li>
    <li>ASP.NET Core</li>
    <li>C#</li>
    <li>Auth0</li>
    <li>Azure</li>
  </ul>
</div>

<div class="container project-page-contents">
  <div class="row">
    <p><a routerLink="/" routerLinkActive="active">Back to homepage</a></p>
    

    <h2>Overview</h2>
    <p>
      The project's aim is a fully featured online music streaming service using the YouTube API for content. YouTube has a large community of amateur and professional musicians, but its focus is being a video sharing site, not a music streaming platform.  
      The end goal of this will bring a sophisticated login system to allow users to save and seamlessly listen to different artists on the site.      
    </p>
    <p>
      The website also introduces a unique take on playlist management known as <i>tags</i>. 
      Instead of being limited to creating playlists of songs, tags allow a user to seamlessly combine any album, artist, genre, or playlist together. 
      This system also gives users heavy control over shuffling algorithms. Users can choose to even shuffle by randomly choosing artists instead of songs, and even set predefined weighted shuffling percentages.
    </p>
    <p>
      The site is being built primarily using the Angular front-end framework, along with Redux for the website's extensive state-management needs, Auth0 for secure sessionless authentication, and ASP.NET Core for a reliable back-end API.
    </p>

    <p>
      For a copy of the initial document with further details on the project <a href="/assets/projects/full-scale-music/initial-document.pdf" target="_blank">click here.</a>
    </p>
    <p>
      For a copy of the interim report with details on the current state of the project <a href="/assets/projects/full-scale-music/interim-report.pdf" target="_blank">click here.</a>
    </p>

    <h2>Screenshots</h2>

    <img class="img-responsive" src="/assets/projects/full-scale-music/screenshot1.png" alt="Screenshot of the combining music streaming services prototype website." />
    <img class="img-responsive" src="/assets/projects/full-scale-music/screenshot2.png" alt="Screenshots of the Slide mobile application" />

  </div>
</div>


<app-footer></app-footer>
  