<div id="experience" class="background-alt">
  <h2 class="heading">Experience et Education</h2>
  <div id="experience-timeline">
    <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div><div class="vtimeline-block"><span class="vtimeline-date">July 2018 – Present</span><div data-date="July 2018 – Present" class="vtimeline-content">
        <h3><a href="https://www.wepredict.com/" target="_blank">Vermeg</a></h3>
        <h4>Software developer</h4>
        <p>
          Je suis un software developer basé à Tunis .
        </p>
        <br>
        <p>
          Les outils de développement utilisés JAVA,SQL, JUnit .NET Angular ..... 
        </p>
    </div></div></div>


    <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div><div class="vtimeline-block"><span class="vtimeline-date">September 2013 – July 2018</span><div data-date="September 2013 – July 2018" class="vtimeline-content">
        <h3>ISET JERBA</h3>
        <h4>Informatique Appliqué</h4>
        <p>
            J'ai eu mon diplome en informatique appliqué d'ISET Jerba le 2019
        </p>
        <br>
        <p>
          Modules included web and mobile application development, software testing, software development and <a id="current-projects-link" [scrollTo]="'#current-projects'" [scrollDuration]="500" >two major software delivery projects.</a>
        </p>
    </div></div></div>
</div>
</div>

