<div class="project-page-header background-alt">
    <h1>Combining Music Streaming Services</h1>

    <ul>
      <li>AngularJS</li>
      <li>JavaScript</li>
      <li>Bootstrap</li>
      <li>YouTube API</li>
      <li>SoundCloud API</li>
    </ul>
</div>

<div class="container project-page-contents">
  <div class="row">
    <p><a routerLink="/" routerLinkActive="active">Back to homepage</a></p>
    

    <h2>Overview</h2>
    <p>
      With the increased use of music streaming services, music sites have become more specific on the type of music they provide. 
      For example, YouTube.com offers an excellent platform for undiscovered talent, but often can be a poor choice for popular studio quality albums. 
      
      The aim of this project was to create a tool which could interweave results and playlists from a range of music streaming sites.
      With this, dynamic playlists can be created where music from different sites can be combined into one convenient location.
    </p>

    <p>
      It was this project that first got me interested in web application development and won me <a href="http://cs.swan.ac.uk/~csbob/teaching/projectFair/2016.php">best student project 2016 as voted by school students</a> at the Swansea University project fair.
      This project was also the inspiration for my current master's project, which aims to turn the result of this project into a profitable music streaming application.
    </p>

    <p>
      The application was primarily built using AngularJS and JavaScript on the front-end, along with Bootstrap for mobile-first styling. 
      I also used a huge range of APIs during development including the YouTube and SoundCloud APIs. 
      All of these APIs had to be handled with a common data source and micromanaged in a very unique way. 
    </p>

    <p>
      For a copy of the dissertaion with further details on the project <a href="/assets/projects/combining-music/dissertation.pdf" target="_blank">click here.</a>
    </p>

    <p>
      For a look at the project fair promotional poster <a href="/assets/projects/combining-music/project-fair-poster.jpg" target="_blank">click here.</a>
    </p>

    <h2>Screenshots</h2>

    <img class="img-responsive" src="/assets/projects/combining-music/screenshot1.png" alt="Screenshot of the combining music streaming services prototype website." />
    <img class="img-responsive" src="/assets/projects/combining-music/screenshot2.png" alt="Screenshots of the Slide mobile application" />

  </div>
</div>


<app-footer></app-footer>
