<div id="current-projects" class="background">
  <h2 class="heading">Mes projets récents</h2>
  <div class="container">
      <div class="row">

          <div class="project shadow-large">
              <div routerLink="/projects/full-scale-music" routerLinkActive="active" class="project-image">
                  <img src="/assets/projects/full-scale-music/logo.png" />
              </div>
              <!-- End .project-image -->
              <div class="project-info">
                  <h3 routerLink="/projects/full-scale-music" routerLinkActive="active">Application mobile et web pour un agence de voyage</h3>
                  
                  <br>
                  <p>
                    En répondant au souhait de l entreprise, j'ai développé un système
                    d information en fonction de ces besoins, représentée à un site web avec des
                    fonctionnalités sophistiqués pour cette agence qui permet de gérer les offres
                    touristique, les réservations en assurant le référencement du site, et une autre
                    application mobile qui permet au client de réserver et payer à distance dont le but de
                    gagner la rapidité de service.
                                      </p>

                  
              </div>
              <!-- End .project-info -->
          </div>
          <!-- End .project -->

         
          <!-- End .project -->
      </div>
  </div>
</div>