<div class="project-page-header background-alt">
    <h1>Slide - Android Puzzle Game</h1>

    <ul>
      <li>Unity3D</li>
      <li>C#</li>
      <li>Android</li>
      <li>AdColony</li>
      <li>Photoshop CC</li>
    </ul>
</div>

<div class="container project-page-contents">
  <div class="row">
    <p><a routerLink="/" routerLinkActive="active">Back to homepage</a></p>
    

    <h2>Overview</h2>
    <p>
        Slide is a very simple puzzle game I created while learning C# and Unity3D over the course of 8 months. 
        The goal is to swipe in a direction to move and try and reach the green tile. The catch is you will continue to slide until you hit a wall.
        Some of the major features included 140 levels which were personally designed, and a range of mechanics such as portals and interchanging tiles.
    </p>

    <p>
      I was particularly proud of this project as it was the first major software engineering project I had ever completed to such a high standard.
      Almost no issues were reported on release and the app received highly positive reviews and comments on the app store and social media platforms.
    </p>

    <p>
      To see the final app on the Google Play store, <a href="https://play.google.com/store/apps/details?id=com.JamesWatson.Slide" target="_blank">click here</a>
    </p>

    <h2>Screenshots</h2>

    <img class="img-responsive" src="/assets/projects/slide/screenshot1.png" alt="Screenshots of the Slide mobile application" />
    <img class="img-responsive" src="/assets/projects/slide/screenshot2.png" alt="Screenshots of the Slide mobile application" />

    <h2>Promo Video</h2>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KXl2fQG1tjw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

  </div>
</div>


<app-footer></app-footer>