<div class="project-page-header background-alt">
    <h1>Application mobile et web pour un agence de voyage</h1>
  
    <ul>
      <li>TypeScript</li>
      <li>Ionic</li>
      <li>Android</li>
      <li>iOS</li>
      <li>Cordova</li>
      <li>ASP.NET Core</li>
      <li>C#</li>
      <li>Azure</li>
    </ul>
  </div>
  
  <div class="container project-page-contents">
    <div class="row">
      <p><a routerLink="/" routerLinkActive="active">Back to homepage</a></p>
      
  
      <h2>Overview</h2>
      <p>
        When a patient ruptures their achilles tendon, there is a lengthy recovery process which takes place over several stages. 
        Patients are instructed to perform daily stretches which are designed to aid the recovery process in a safe manner.
      </p>
      <p>
        In order to help patients through this recovery process, my team and I are designing a mobile application which helps patients keep track of their recovery process.
        The app is very similar in design to a fitness application, helping patients keeps track of when and what exercises to perform, as well as providing statistics and vital medical information. 
      </p>
      <p>
        The mobile application is being built with the Ionic framework for a beautiful hybrid mobile experience targeting Android, iOS and desktop.
        We are also using an ASP.NET Core back-end for our API, hosted on Microsoft Azure.
      </p>
  
      <p>
        For a copy of the initial document with further details on the project <a href="/assets/projects/achilles/initial-document.pdf" target="_blank">click here.</a>
      </p>
      <p>
        For a copy of the interim report with details on the current state of the project <a href="/assets/projects/achilles/interim-report.pdf" target="_blank">click here.</a>
      </p>
  
      <h2>Screenshots</h2>
  
      <img class="img-responsive" src="/assets/projects/achilles/screenshot1.png" alt="Screenshots of the achilles rupture recovery application." />
  
    </div>
  </div>
  
  
  <app-footer></app-footer>
    